<div class="row" style="padding: 15px;">
    <div class="project-div">
        <div style="max-height: 300px;overflow: hidden;">
            <img ng-src="{{project.image}}"  alt="{{project.name}}" style="width:100%;height:auto;">
        </div>

        <div class="showcase-details">

            <h1 style="text-align:center;">{{project.name}}</h1>

            <hr>
            <div style="text-align:center; margin-bottom:20px;">
                <img class="gallery-img" ng-repeat="img in project.imagesGallery" src="{{img}}">
            </div>

            <div>Stato progetto: {{enumProjects[project.status.value]}}</div>
            <div>Interessi: {{project.restitution.interests}}%</div>
            <div>Raccolti: €{{project.actualMoney.money}} / €{{project.requestedMoney}}</div>
            <div>Scade in: <timer end-time="project.endDate">{{days}} giorni, {{hours}} ore, {{minutes}} minuti, {{seconds}} secondi</timer></div>


            <div>Richiedente: <a href="#!show/{{project.owner._id}}/{{project.owner.username}}" ng-show="user._id"><i class="fa fa-user"></i> {{project.owner.username}}</a></div>
            <div>Data di inizio: {{project.startDate | amUtc | amLocal | amDateFormat:'DD-MM-YYYY HH:mm:ss'}}</div>
            <div>Data di fine: {{project.endDate | amUtc | amLocal | amDateFormat:'DD-MM-YYYY HH:mm:ss'}}</div>
            <div>Data di restituzione: {{project.restitution.date | amUtc | amLocal | amDateFormat:'DD-MM-YYYY HH:mm:ss'}}</div>

            <div>Descrizione: <div ng-bind-html="project.description"></div></div>

            <div style="text-align:center;"><a href="#!projectManagement?id={{project._id}}" class="btn btn-warning" ng-show="project.owner._id==user._id">Gestisci il progetto</a></div>

        </div>
        <div>
            <form class="form"  ng-submit="createLoan()" ng-show="project.owner._id!=user._id">
            <label>Fai una donazione</label>
            <input type="number" class="form-control" ng-model="loanForm.loanValue" required>
            <p>
                <span>Messaggio: </span>
                <textarea class="form-control" ng-model="loanForm.message"></textarea>
            </p>
            <button class="btn btn-success" type="submit">Invia</button>
            <div ng-show="moneyError" class="alert alert-danger">{{moneyErrorMessage}}</div>
            </form>
        </div>
        <div>
            <form class="form"  ng-submit="createComment()">
            <label>Fai una domanda o lascia un commento</label>
            <p>
              <textarea class="form-control" ng-model="commentForm.text"></textarea>
            </p>
            <button class="btn btn-success" type="submit">Commenta</button>
            <div ng-show="commentError" class="alert alert-danger">{{commentErrorMessage}}</div>
            </form>
        </div>
        <br>
        <div class="project">
            <h4>Commenti</h4>
            <div>
                <div ng-repeat="comment in project.comments | orderBy:'-date'">
                    <div><a href="#!show/{{comment.user._id}}/{{comment.user.username}}" ng-show="user._id"><i class="fa fa-user"></i> {{comment.user.username}}</a></div>
                    {{comment.text}}
                    <br>
                    <span style="color:grey">{{comment.date | amDateFormat:'DD-MM-YYYY'}}</span>
                    <hr ng-if="!$last">
                </div>
            </div>
            <div ng-show="moneyError" class="alert alert-danger">{{moneyErrorMessage}}</div>
        </div>
    </div>
</div>
