<div class="row" style="padding: 15px;">
  <div class="col-xs-6 col-md-4">
    <div class="project" style="background-color: white;">
      <form class="form" ng-submit="updateUser()">
        <input type="hidden" class="form-control" ng-model="updateForm._id" required>
        <p>
          <span>Username*: </span>
          <span ng-hide='showInput'>{{user.username}}</span>
          <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.username" required>
        </p>
        <p>
          <span>Nome*: </span>
          <span ng-hide='showInput'>{{user.name}}</span>
          <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.name" required>
        </p>
        <p>
          <span>Cognome*: </span>
          <span ng-hide='showInput'>{{user.surname}}</span>
          <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.surname" required>
        </p>
        <p>
          <span>Email*: </span>
          <span ng-hide='showInput'>{{user.email}}</span>
          <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.email" required>
        </p>
        <p>
          <span>Data nascita*: </span>
          <span ng-hide='showInput'>{{user.bornDate}}</span>
          <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.bornDate" required>
        </p>
        <p>
          <span>Telefono: </span>
          <span ng-hide='showInput'>{{user.telephone}}</span>
          <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.telephone">
        </p>
        <hr>
        <p><span>Indirizzo</span></p>
        <p>
          <span>Via: </span>
          <span ng-hide='showInput'>{{user.address.street}}</span>
          <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.address.street">
        </p>
        <p>
          <span>Città: </span>
          <span ng-hide='showInput'>{{user.address.city}}</span>
          <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.address.city">
        </p>
        <p>
          <span>Nazione: </span>
          <span ng-hide='showInput'>{{user.address.nation}}</span>
          <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.address.nation">
        </p>
        <p>
          <span>CAP: </span>
          <span ng-hide='showInput'>{{user.address.CAP}}</span>
          <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.address.CAP">
        </p>
        <div>
          <a class="btn btn-warning" ng-click='toggleShowInput()'>Modifica</a>
          <button class="btn btn-success" type="submit" ng-disabled="disabled">Salva</button>
        </div>
        <br>
        <div><i>* obbligatorio</i></div>
      </form>
      <div style="margin-top:10px"></div>
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      <div ng-show="success" class="alert alert-success">{{successMessage}}</div>
    </div>
  </div>
  <div class="col-xs-6 col-md-4"><div class="project">Soldi</div></div>
  <div class="col-xs-6 col-md-4"><div class="project">Carte associate</div></div>
  <div class="col-xs-6 col-md-4"><div class="project">Storico</div></div>
</div>

<!--<div ng-repeat="(key, value) in userForm" >
  <label>{{key}}</label>
  <input type="text" ng-model="value" />
    <br/>
</div>-->