<div ng-controller="storico">
    <div class="col-xs-6 col-md-4">
        <div class="project">
            <h4>STORICO</h4>
            <div ng-repeat="tran in transactions">
                <hr>
                <div>Data: {{tran.date | amUtc | amLocal | amDateFormat:'DD-MM-YYYY HH:mm:ss'}}</div>
                <div>Mittente: {{tran.senderName}}</div>
                <div>Destinatario: {{tran.recipientName}}</div>
                <div>Importo: € {{tran.money | number:2}}</div>
                <div ng-if="tran.notes">Messaggio: {{tran.notes}}</div>
            </div>
        </div>
    </div>
</div>
