<div class="col-xs-6 col-md-4" ng-controller="dettagli-account">
    <div class="project">
        <h4>PROFILO</h4>
        Stato account: 
        <p style="color: red; font-weight: 700;" ng-show="!user.verified || user.verified != 'WAITING' && user.verified != 'VERIFIED'">Documento non caricato</p>
        <p style="color: orange; font-weight: 700;" ng-show="user.verified == 'WAITING'">In attesa di verifica del documento</p>
        <p style="color: green; font-weight: 700;" ng-show="user.verified == 'VERIFIED'">Verificato</p>

        <form class="form" ng-submit="uploadIdentity()" enctype="multipart/form-data" ng-show="!user.verified || user.verified != 'WAITING' && user.verified != 'VERIFIED'">
            <input type="file" class="btn btn-primary" ngf-select="uploadFiles($files)" ng-model="uploadDoc" accept=".jpg, .jpeg, .png, .pdf, .doc, .docx, .odt" ngf-max-size="20MB" required></input>
            <br><br>
            <button class="btn btn-success" type="submit">Carica documento</button>
        </form>
        <div style="margin-top:10px"></div>
        <div ng-show="errorID" class="alert alert-danger">{{errorIDMessage}}</div>
        <div ng-show="successID" class="alert alert-success">{{successIDMessage}}</div>
        <hr>

        <form class="form" ng-submit="updateUser()">
        <p>
            <span>Username*: </span>
            <span>{{user.username}}</span>
            <!--<input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.username" required>-->
        </p>
        <p>
            <span>Nome*: </span>
            <span ng-hide='showInput'>{{user.name}}</span>
            <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.name" required>
        </p>
        <p>
            <span>Cognome*: </span>
            <span ng-hide='showInput'>{{user.surname}}</span>
            <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.surname" required>
        </p>
        <p>
            <span>Email*: </span>
            <span ng-hide='showInput'>{{user.email}}</span>
            <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.email" required>
        </p>
        <p>
            <span>Data nascita*: </span>
            <span ng-hide='showInput'>{{user.formattedBornDate}}</span>
            <input type="text" ng-show='showInput' class="form-control" minlength="10" maxlength="10" ng-model="updateForm.formattedBornDate" required>
        </p>
        <p>
            <span>Telefono: </span>
            <span ng-hide='showInput'>{{user.telephone}}</span>
            <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.telephone">
        </p>
        <hr>
        <p><span>INDIRIZZO</span></p>
        <p>
            <span>Via: </span>
            <span ng-hide='showInput'>{{user.address.street}}</span>
            <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.address.street">
        </p>
        <p>
            <span>Città*: </span>
            <span ng-hide='showInput'>{{user.address.city}}</span>
            <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.address.city">
        </p>
        <p>
            <span>Nazione*: </span>
            <span ng-hide='showInput'>{{user.address.nation}}</span>
            <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.address.nation">
        </p>
        <p>
            <span>CAP*: </span>
            <span ng-hide='showInput'>{{user.address.CAP}}</span>
            <input type="text" ng-show='showInput' class="form-control" ng-model="updateForm.address.CAP">
        </p>
        <div>
            <a class="btn btn-warning" ng-click='toggleShowInput()'>Modifica</a>
            <button class="btn btn-success" type="submit" ng-disabled="disabled">Salva</button>
        </div>
        <br>
        <div><i>* obbligatorio</i></div>
        </form>
        <div style="margin-top:10px"></div>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <div ng-show="success" class="alert alert-success">{{successMessage}}</div>
    </div>
</div>