<div ng-controller="carte-associate">
    <div class="col-xs-6 col-md-4">
        <div class="project">
            <h4>CARTE ASSOCIATE</h4>
            <form class="form" ng-submit="addCard()">
            <p>
                <span>Numero di carta*: </span>
                <input type="text" class="form-control" ng-model="cardForm.number" minlength="16" maxlength="16" required>
            </p>
            <p>
                <span>Scadenza*: </span>
                <input type="text" class="form-control" ng-model="cardForm.endDate" placeholder="dd/mm" minlength="5" maxlength="5" required>
            </p>
            <p>
                <span>CVV*: </span>
                <input type="text" class="form-control" ng-model="cardForm.cvv" maxlength="4" required>
            </p>
            <button class="btn btn-success" type="submit">Aggiungi</button>
            </form>
    
            <div ng-show="cardError" class="alert alert-danger">{{cardErrorMessage}}</div>
    
            <form ng-repeat="card in user.cards" class="form" ng-submit="deleteCard(card._id, user._id)" id="form-{{card._id}}">
            <hr>
            <p>
                <span>Numero (oscurare): </span>
                <span>{{card.number}}</span>
            </p>
            <p>
                <span>Scadenza: </span>
                <span>{{card.endDate | amDateFormat:'MM/YY'}}</span>
            </p>
            <p>
                <span>CVV (togliere): </span>
                <span>{{card.cvv}}</span>
            </p>
            <button class="btn btn-danger" type="submit">Elimina</button>
            </form>
        </div>
    </div>
</div>