<div ng-controller="cambio-password">
    <div class="col-xs-6 col-md-4">
        <div class="project">
            <h4>CAMBIO PASSWORD</h4>
            <form class="form" ng-submit="changePw()">
                <input type="hidden" ng-model="user._id">
                <p>
                    <span>Password attuale*: </span>
                    <input type="password" class="form-control" ng-model="oldPassword" required>
                </p>
                <p>
                    <span>Nuova password*: </span>
                    <input type="password" minlength="8" maxlength="100" class="form-control" ng-model="newPassword" required>
                </p>
                <p>
                    <span>Ripeti nuova password*: </span>
                    <input type="password" minlength="8" maxlength="100" class="form-control" ng-model="repeatPassword" required>
                </p>
                <button class="btn btn-success" type="submit">Cambia password</button>
            </form>
            <div style="margin-top:10px"></div>
            <div ng-show="pwError" class="alert alert-danger">{{pwErrorMessage}}</div>
            <div ng-show="pwSuccess" class="alert alert-success">{{pwSuccessMessage}}</div>
        </div>
    </div>
</div>