<div class="form-div">
  <h1>Login</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
      </div>
      <div>
        <label>
          <input type="checkbox" name="sessionOpen" ng-model="loginForm.sessionOpen">
          Resta collegato
        </label>
      </div>
      <div>
        <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="disabled" >Login</button>
      </div>
      <br>
      <a href="/api/loginFacebook">
        <button type="button" class="btn btn-success btn-lg btn-block" style="background-color:	#00BFFF" ng-disabled="disabled" >Login con Facebook</button>
      </a>
  </form>
</div>
