<h3>Login</h3>
<form ng-submit="$ctrl.login()" style="padding: 15px;">
  <div class="form-group">
    <label class="col-form-label" for="email">Email:</label>
    <input type="email" required ng-model="$ctrl.student.email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label class="col-form-label" for="email">Username:</label>
    <input type="text" required ng-model="$ctrl.student.username" class="form-control" id="username">
  </div>
  <div class="form-group">
    <label class="col-form-label" for="email">Username:</label>
    <input type="password" required ng-model="$ctrl.student.password" class="form-control" id="password">
  </div>
  <input type="reset" class="btn btn-default" value="Annulla">
  <input type="submit" class="btn btn-default" value="Aggiungi">
</form>
