<div class="form-div" style="max-width: 700px;;margin: 15px auto;">
  <h1>Project</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="createProject()" enctype="multipart/form-data" >
    <div class="form-group">
      <label>Nome*</label>
      <input type="text" class="form-control" minlength="6" maxlength="20" ng-model="projectForm.name" required>
    </div>
    <div class="form-textarea">
      <label>Descrizione*</label>
      <!--<input type="textarea" class="form-control" minlength="8" maxlength="500" ng-model="projectForm.description" required>-->
      <text-angular ng-model="projectForm.description" required></text-angular>
    </div>
    <div class="form-group">
      <label>Data di fine*</label>
      <input type="date" class="form-control" ng-model="projectForm.endDate" required>
    </div>
    <div class="form-group">
      <label>Soldi richiesti*</label>
      <input type="number" class="form-control" ng-model="projectForm.requestedMoney" required>
    </div>
    <div class="form-group">
      <label>Resituzione</label>
    </div>
      <div class="form-group"><label style="width: 20%;">Data*</label><input type="date" class="form-control inline" ng-model="projectForm.restitution.dateRestitution" style="width: 80%;" required></div>
      <div class="form-group"><label style="width: 20%;">Interessi(in percentuale)*</label><input type="number" class="form-control inline" ng-model="projectForm.restitution.interests" style="width: 80%;" required></div>

    <!--Immagine principale
    <input type="file" ngf-select ng-model="projectForm.mainImage" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"/>
    Image thumbnail: <img style="width:100px;" ngf-thumbnail="projectForm.mainImage"/>-->
    <!--<i ng-show="up.upload_form.file.$error.required">*required</i><br>
    <i ng-show="up.upload_form.file.$error.maxSize">File too large
    {{up.file.size / 1000000|number:1}}MB: max 20M</i>-->
    <!--<p>{{progress}}</p>-->
    <hr>

    Seleziona immagine principale(o una categoria)*
    <input type="file" class="btn btn-primary" ngf-select="uploadFiles($files)" accept="image/*" ng-model="projectForm.mainImage" ngf-max-size="20MB" required></input>
    <div class="clear"></div>
    <div style="margin-right:5px; margin-top:5px;">
        <img style="width:150px;" ngf-thumbnail="projectForm.mainImage"/>
    </div>
    Categoria:
    <select ng-model="projectForm.imageDefault">
      <option value="">Immagine caricata</option>
      <option value="uploads/default/house.jpg">Edilizia</option>
      <option value="uploads/default/hobby.jpg">Hobby</option>
      <option value="uploads/default/holiday.png">Vacanza</option>
      <option value="uploads/default/study.jpeg">Studio</option>
    </select>
    <hr>

    Seleziona immagini galleria (max 20)
    <input type="file" class="btn btn-primary" ngf-select="uploadFiles($files)" accept="image/*" ng-model="projectForm.gallery" multiple="multiple" ngf-max-files="20"></input>
    <div class="clear"></div>
    <div ng-repeat="gal in projectForm.gallery" style="display:inline-block; margin-right:5px; margin-top:5px;">
        <img style="width:100px;" ngf-thumbnail="gal"/>
    </div>
    <br>
    <div><i>* obbligatorio</i></div>
    <br>
    <div>
      <button type="submit" class="btn btn-success btn-lg btn-block">Crea progetto</button>
    </div>
  </form>
</div>
