<div class="row" style="padding: 15px;">
    <div ng-show="projectsSuccess" class="alert alert-success">{{projectsSuccessMessage}}</div>
    <div ng-show="projectsError" class="alert alert-danger">{{projectsErrorMessage}}</div>

    <div class="col-xs-6 col-md-4">
        <div class="project">
            <h4>GESTIONE UTENTI ADMIN</h4>
            <p>
                <span>Aggiungi admin: </span>
                <input type="text" placeholder="Username" ng-model="newAdminName" class="form-control">
                <button class="btn btn-success" ng-click="newAdmin()">Aggiungi</button>
            </p>
            <hr>
            Lista admin
            <div ng-repeat="admin in admins">
                <a href="#!show/{{admin._id}}/{{admin.username}}"><i class="fa fa-user"></i> {{admin.username}}</a>
                
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-12">
        <div class="project">
            <h4>Progetti</h4>

            <input type="text" class="form-control" placeholder="Search" ng-model="search">
            
            <div class="filters" style="margin-top:10px;">
                <button class="btn btn-info" ng-click="filterStatus('ACCEPTED')">{{enumProjects['ACCEPTED']}}</button>
                <button class="btn btn-info" ng-click="filterStatus('TO_CHECK')">{{enumProjects['TO_CHECK']}}</button>
                <button class="btn btn-info" ng-click="filterStatus('NOT_ACCEPTED')">{{enumProjects['NOT_ACCEPTED']}}</button>
                <button class="btn btn-info" ng-click="filterStatus('CLOSED')">{{enumProjects['CLOSED']}}</button>
                <button class="btn btn-info" ng-click="filterStatus('CLOSED_&_RESTITUTED')">{{enumProjects['CLOSED_&_RESTITUTED']}}</button>
                <button class="btn btn-info" ng-click="filterStatus('FORCED_CLOSING')">{{enumProjects['FORCED_CLOSING']}}</button>
                <span>|</span>
                <button class="btn btn-warning" ng-click="filterStatus(null); search = null">Reset</button>
            </div>
            <hr>
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <td>Stato</td>
                        <td>Nome</td>
                        <td>Utente</td>
                        <td>Interessi</td>
                        <td>Chiusura</td>
                        <td>Azioni</td>
                    </tr>
                </thead>
                <tr ng-repeat="proj in projects | filterBy: ['name', 'owner.username', 'proj.endDate']: search | filterBy: ['status.value']: status : true | orderBy:'status.value'">
                    <td>{{enumProjects[proj.status.value]}}</td>
                    <td><a href="#!projectDetails?id={{proj._id}}"><h4>{{proj.name}}</h4></a></td>
                    <td><a href="#!show/{{proj.owner._id}}/{{proj.owner.username}}"><i class="fa fa-user"></i> {{proj.owner.username}}</a></td>
                    <td>Raccolti: €{{proj.actualMoney.money}} / €{{proj.requestedMoney}}</td>
                    <td>
                        <div ng-if="today < proj.endDate">{{proj.endDate | amUtc | amDateFormat:'MM-DD-YYYY HH:mm:ss'}}</div>
                        <div ng-if="today >= proj.endDate">Chiuso</div>
                    </td>
                    <td>
                        <div ng-if="proj.status.value == 'ACCEPTED'">
                            <button class="btn " ng-class="{'btn-success': proj.isExample, 'btn-warning': !proj.isExample}" ng-click="setPublic(proj)"><i class="fa"  ng-class="{'fa-check': proj.isExample, 'fa-ban': !proj.isExample}"></i> Pubblico</button>
                            <button class="btn btn-danger" ng-click="closeAndReturn(proj)">Chiudi e restituisci</button>
                        </div>
                        <div ng-if="proj.status.value == 'TO_CHECK'">
                            <button class="btn btn-success" ng-click="changeStatus(proj, 'ACCEPTED')">Accetta</button>
                            <button class="btn btn-danger" ng-click="changeStatus(proj, 'NOT_ACCEPTED')">Rifiuta</button>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>