<div class="row" style="padding: 15px;">
        <div ng-show="projectsSuccess" class="alert alert-success">{{projectsSuccessMessage}}</div>
        <div ng-show="projectsError" class="alert alert-danger">{{projectsErrorMessage}}</div>

    <div class="col-xs-6 col-md-4">
        <div class="project">
            <h4>DA APPROVARE</h4>

            <input type="text" class="form-control" placeholder="Search" ng-model="search">
            <hr>

            <div style="max-height: 500px; overflow: auto;">
                <!-- filtro cerca dentro nome progetto, username e interessi -->
                <div ng-repeat="proj in waiting | filterBy: ['name', 'owner.username', 'restitution.interests']: search">
                    <a href="#!projectDetails?id={{proj._id}}"><h4>{{proj.name}}</h4></a>
                    <a href="#!show/{{proj.owner._id}}/{{proj.owner.username}}"><i class="fa fa-user"></i> {{proj.owner.username}}</a>
                    <div>Interessi: {{proj.restitution.interests}}%</div>
                    <button class="btn btn-success" ng-click="changeStatus(proj._id, 'ACCEPTED')">Accetta</button>
                    <button class="btn btn-danger" ng-click="changeStatus(proj._id, 'NOT_ACCEPTED')">Rifiuta</button>
                    <hr ng-if="!$last">
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-6 col-md-4">
        <div class="project">
            <h4>RESPINTI</h4>

            <input type="text" class="form-control" placeholder="Search" ng-model="search">
            <hr>

            <div style="max-height: 500px; overflow: auto;">
                <!-- filtro cerca dentro nome progetto, username e interessi -->
                <div ng-repeat="proj in rejected | filterBy: ['name', 'owner.username', 'restitution.interests']: search">
                    <a href="#!projectDetails?id={{proj._id}}"><h4>{{proj.name}}</h4></a>
                    <a href="#!show/{{proj.owner._id}}/{{proj.owner.username}}"><i class="fa fa-user"></i> {{proj.owner.username}}</a>
                    <div>Interessi: {{proj.restitution.interests}}%</div>
                    <hr ng-if="!$last">
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-6 col-md-4">
        <div class="project">
            <h4>IN CORSO</h4>

            <input type="text" class="form-control" placeholder="Search" ng-model="search">
            <hr>

            <div style="max-height: 500px; overflow: auto;">
                <!-- filtro cerca dentro nome progetto, username e interessi -->
                <div ng-repeat="proj in accepted | filterBy: ['name', 'owner.username', 'restitution.interests']: search">
                    <a href="#!projectDetails?id={{proj._id}}"><h4>{{proj.name}}</h4></a>
                    <a href="#!show/{{proj.owner._id}}/{{proj.owner.username}}"><i class="fa fa-user"></i> {{proj.owner.username}}</a>
                    <div>Interessi: {{proj.restitution.interests}}%</div>
                    <div>Raccolti: €{{proj.actualMoney.money}} / €{{proj.requestedMoney}}</div>
                    Chiusura tra: 
                    <timer end-time="proj.endDate">{{days}} giorni, {{hours}} ore, {{minutes}} minuti, {{seconds}} secondi</timer>
                    <br>
                    <button class="btn " ng-class="{'btn-success': proj.isExample, 'btn-warning': !proj.isExample}" ng-click="setPublic(proj)"><i class="fa"  ng-class="{'fa-check': proj.isExample, 'fa-ban': !proj.isExample}"></i> Pubblico</button>
                    <button class="btn btn-danger" ng-click="closeAndReturn(proj._id)">Chiudi e restituisci</button>
                    <hr ng-if="!$last">
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-6 col-md-4">
        <div class="project">
            <h4>CHIUSI</h4>

            <input type="text" class="form-control" placeholder="Search" ng-model="search">
            <hr>

            <div style="max-height: 500px; overflow: auto;">
                <!-- filtro cerca dentro nome progetto, username e interessi -->
                <div ng-repeat="proj in closed | filterBy: ['name', 'owner.username', 'restitution.interests']: search">
                    <a href="#!projectDetails?id={{proj._id}}"><h4>{{proj.name}}</h4></a>
                    <a href="#!show/{{proj.owner._id}}/{{proj.owner.username}}"><i class="fa fa-user"></i> {{proj.owner.username}}</a>
                    <div>Interessi: {{proj.restitution.interests}}%</div>
                    <hr ng-if="!$last">
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-6 col-md-4">
        <div class="project">
            <h4>CHIUSI E RESTITUITI</h4>

            <input type="text" class="form-control" placeholder="Search" ng-model="search">
            <hr>

            <div style="max-height: 500px; overflow: auto;">
                <!-- filtro cerca dentro nome progetto, username e interessi -->
                <div ng-repeat="proj in returned | filterBy: ['name', 'owner.username', 'restitution.interests']: search">
                    <a href="#!projectDetails?id={{proj._id}}"><h4>{{proj.name}}</h4></a>
                    <a href="#!show/{{proj.owner._id}}/{{proj.owner.username}}"><i class="fa fa-user"></i> {{proj.owner.username}}</a>
                    <div>Interessi: {{proj.restitution.interests}}%</div>
                    <hr ng-if="!$last">
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-6 col-md-4">
        <div class="project">
            <h4>GESTIONE UTENTI ADMIN</h4>
            <p>
                <span>Aggiungi admin: </span>
                <input type="text" placeholder="Username" ng-model="newAdminName" class="form-control">
                <button class="btn btn-success" ng-click="newAdmin()">Aggiungi</button>
            </p>
            <hr>
            Lista admin
            <div ng-repeat="admin in admins">
                <a href="#!show/{{admin._id}}/{{admin.username}}"><i class="fa fa-user"></i> {{admin.username}}</a>
                
            </div>

        </div>
    </div>

</div>